<a href="https://colab.research.google.com/github/estrickler1/RedShift/blob/main/nz40_Redshift.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pa
import plotly.express as px
import math

url = 'https://raw.githubusercontent.com/nurfnick/Galaxies/main/nz40.csv'
data = pa.read_csv(url)

url2 = 'https://raw.githubusercontent.com/estrickler1/RedShift/main/CFA2.csv'
data2 = pa.read_csv(url2)

In [45]:
data = data[1:-7] #removing 
data2 = data2[1:-10]

In [49]:
data = data.iloc[:,0:8]
data2 = data2.iloc[:,0:8]
#data.append(data2,ignore_index=True,sort=False)

In [47]:
#data = data.rename(columns = {'Name', 'RA (1950)', 'Dec m_zw', 'v_h', 'sig sour', 'Type', 'D1', 'D2'})
#data = data.rename(columns = {'D1.1':'D2'}, inplace = True)
#data = data.columns = ['Name','RA (1950)', 'Dec m_zw', 'v_h', 'sig sour', 'Type', 'D1', 'D2']
data

            Name RA (1950)    Dec m_zw   v_h sig sour   Type   D1 D1.1
1     00006+2142        36  21420014.4  6605  3212700     5P    1  0.7
2     00006-0211        36  -2110014.3  7323  3112700     4X  1.3  0.8
3          N7814      41.1    15520312  1050   410611   2A s  6.5  2.7
4     00010+2256       100    22560014  7301  3412700      5  1.9    1
5          N7816       112     7110014  5241   510620      4    2    2
...          ...       ...         ...   ...      ...    ...  ...  ...
2391       N7805  235852.7  31092014.3  4948  2112700  -2X P    1  0.7
2392       N7806    235854  31100014.4  4827  2212700   4X P  1.1  0.8
2393  23591+2313    235906  23130013.2  4371   810620   6  R  2.7  1.3
2394  23592+2314    235912  23140013.9  4336   710620   7B P  1.6  0.5
2395       N7810    235948  12410014.3  5532  2912700     -2    1  0.7

[2395 rows x 8 columns]

In [50]:
[[data.columns[i],data2.columns[i]] for i in range(8)]

[['Name', 'Name'],
 ['RA (1950)', 'RA (1950)'],
 ['Dec m_zw', 'Dec m_Zw'],
 ['v_h', 'V_h'],
 ['sig sour', 'sig sour'],
 ['Type', 'Ty'],
 ['D1', 'D1'],
 ['D1.1', 'D2']]

In [ ]:
dictionary = {data.columns[0:8]:data2.columns[0:8]}

data2.rename(dictionary)

In [ ]:
vhdata2 = data2[data2['v_h']
data = data['v_h'].append(vhdata2)

In [ ]:
#px.scatter(data, x = "RA (1950)", y = "Dec m_zw", color = "v_h", hover_name= "Name")

In [ ]:
data[data['v_h'] == '1 5261']

In [ ]:
data.v_h

In [ ]:
badnumbers = data.v_h.loc[data['v_h'].str.match(r'[0-9.]+ ')] #starts with a number and then a space
goodnumbers = badnumbers.str.slice(2,) #get rid of that # and space

In [ ]:
 greatnumbers = data.v_h.loc[~data['v_h'].str.match(r'[0-9.]+ ')] #get all the ones that didn't have the above issue

In [ ]:
somenumbers = pa.concat([greatnumbers,goodnumbers]) #put them back together

In [ ]:
data['v_h'] = somenumbers

In [ ]:
data.iloc[64:67,:]

In [ ]:
data = data.loc[~data['v_h'].str.match(r'[A-Z]')] #removing the ones that had months...

In [ ]:
data.v_h.astype(int)

In [ ]:
min(data.v_h)

In [ ]:
data['v_h'] = pa.to_numeric(data['v_h'])

In [ ]:
data.dtypes

In [ ]:
data.describe()

In [ ]:
px.scatter(data, x = "RA (1950)", y = "Dec m_zw", color = "v_h", hover_name= "Name")

In [ ]:
data = data[~(data.v_h == 747469)]
data.describe()

In [ ]:
px.scatter(data, x = "RA (1950)", y = "Dec m_zw", color = "v_h", hover_name= "Name")

In [ ]:
 data = data[~(data.v_h == 18116)]
 data.describe()

In [ ]:
data = data.loc[~data['Dec m_zw'].str.match(r'[0-9.]+ ')]
data = data[~(data['Dec m_zw'] == '-001331 9.7')]
decData = data["Dec m_zw"]

In [ ]:
px.scatter(data, x = "RA (1950)", y = "Dec m_zw", color = "v_h", hover_name= "Name",color_continuous_scale="blackbody")

In [ ]:
fig = px.scatter_polar(data, r="Dec m_zw", theta="RA (1950)", color = "v_h",color_continuous_scale="blackbody")
fig.update_polars(domain_x=[.5,1]) #garbage

In [ ]:
raData = data["RA (1950)"]

In [ ]:
raData = raData.astype(float)
raInDegrees = []

for point in raData:
  x = math.floor(point/10000)
  y = math.floor((point - x*10000)/100)
  z = point - x*10000-y*100
  decimal = x + y/60 + z/3600
  degrees = decimal *360/24
  raInDegrees.append(degrees)

raInDegrees

data["RADegrees"] = raInDegrees

In [ ]:
raData[17]

In [ ]:
point = float(raData[17])  
x = math.floor(point/10000)
y = math.floor((point - x*10000)/100)
z = point - x*10000-y*100

print(point, x , y, z)

In [ ]:
fig = px.scatter_polar(data, r="Dec m_zw", theta="RADegrees", color = "v_h",color_continuous_scale="blackbody")
fig

In [ ]:
data["Dec m_zw"]

In [ ]:
decData = decData.astype(float)

decInDegrees = []

for point in decData:
  if point>0:
    w = math.floor(point/1000000)
    x = math.floor((point - w*1000000)/10000)
    y = math.floor((point - w*1000000-x*10000)/100)
    z = point - w*1000000 - x*10000 - y*100
    decimal = x/60 + y/3600 + z/(3.6*10**6)
    degrees = decimal *360/24 + w
    decInDegrees.append(degrees)
  else:
    point = abs(point)
    w = math.floor(point/1000000)
    x = math.floor((point - w*1000000)/10000)
    y = math.floor((point - w*1000000-x*10000)/100)
    z = point - w*1000000 - x*10000 - y*100
    decimal = x/60 + y/3600 + z/(3.6*10**6)
    degrees = decimal *360/24 + w
    decInDegrees.append(-degrees)

data["DecDegrees"] = decInDegrees

In [ ]:
data.describe()

In [ ]:
data.iloc[1,:]

In [ ]:
fig = px.scatter_polar(data, r="DecDegrees", theta="RADegrees", color = "v_h",color_continuous_scale="blackbody")
fig